.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Single column layout for mobile devices */
    grid-template-rows: auto; /* Allow rows to adjust based on content */
    gap: 1rem;
    margin-left: 0;
  }

  .w-[200px] {
    width: 100%; /* Make the goal, gift, pay, and user containers full width */
  }

  .mt-[150px] {
    margin-top: 20px; /* Adjust the top margin for better spacing on smaller screens */
  }

  .text-[50px] {
    font-size: 32px; /* Adjust the font size for the main heading on smaller screens */
  }

  .text-[18px] {
    font-size: 14px; /* Adjust the font size for step descriptions on smaller screens */
  }
}